build/
__pycache__/
*.spec
*.pyc
installer_output/
dist/*.old.exe

# Ashita user-generated data
Ashita/config/boot/newhope.ini
Ashita/config/addons/
Ashita/config/plugins/
Ashita/config/launcher/
Ashita/config/legacyac/
Ashita/config/minimap/
Ashita/config/nameplate/
Ashita/config/pivot/
Ashita/config/sandbox/
Ashita/config/imgui.ini
Ashita/logs/
Ashita/screenshots/
Ashita/scripts/newhope_addons.txt
Ashita/console.log
Ashita/crash.log
